$background: black;
$piano-tile: white;
$key-name: rgb(11, 179, 101);
$main-font: 'Roboto', sans-serif;
$grey: rgb(189, 189, 189);
$blacktile: blue;
$fontsize: (
    "normal": 25px,
    "small": 15px
);
