@import '../scss/resets';
@import '../scss/variables';


body {
    background-color: $background;
    color: $key-name;
    font-family: $main-font;
}


.keys {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 10%;

    #{&}-alone {
        background-color: $piano-tile;
        margin-right: 1px;
        padding: 250px 0 10px;
        border: 2px solid $grey;
        font-size: size("normal");
    }

    p {
        color: $grey;
        font-size: size("small");
        padding: 10px;
        margin-top: 5px;
        line-height: 1.5;
    }

    #{&}-blacktile {
        height: 100px;
        width: 25px;
        color: blue;
        z-index: 10;
        position: absolute;

    }
}

.playing {
    transition: all 0.07s ease;
    transform: scale(1.1);
    border: 2px solid $key-name;
}
